﻿
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Banner</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("UpdateBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formAdd" }))
        {
    <div class="modal-body">
        <input type="hidden" name="id" value="@ViewBag.Data.ID" />
        <div class="form-group">
            <label>Title banner:</label>
            <input type="text" name="title" class="form-control" value="@ViewBag.Data.Title">
        </div>    
        <div class="form-group">
            <label>Category banner:</label>
            <select name="typeBanner" class="form-control">
                @foreach (var type in ViewBag.TypeBanner)
                {
                    if (ViewBag.Data.TypeBannerID == type.ID)
                    {<option value="@type.ID" selected>@type.Title</option>}
                    else
                    {<option value="@type.ID">@type.Title</option>}
                }
            </select>
        </div>       
        <div class="form-group">
            <label>Status Banner:</label>
            <select class="form-control" name="status">
                @if (ViewBag.Data.Status == 1)
                {<option value="1" selected>Show</option>}
                else
                {<option value="1">Show</option>}
                @if (ViewBag.Data.Status == 0)
                {<option value="0" selected>Hidden</option>}
                else
                {<option value="0">Hidden</option>}
            </select>
        </div>      
        <div class="form-group">
            <label>Description:</label>
            <textarea name="description" class="form-control">@ViewBag.Data.Description</textarea>
        </div>      
        <div class="form-group">
            <label>Image Banner:</label><br />
            <img src="@ViewBag.Data.Image" width="100" />
            <input type="file" name="file" class="form-control">
        </div>     
    </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
        }
    </div>
</div>