﻿

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Brand</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("UpdateBrand", "Brand", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formAdd" }))
        {
    <div class="modal-body">
        <input type="hidden" name="id" value="@ViewBag.Data.ID" />
        <div class="form-group">
            <label>Brand name:</label>
            <input type="text" name="nameBrand" class="form-control" value="@ViewBag.Data.BrandName">
        </div>
        <div class="form-group">
            <label>Category:</label>
            <select name="typePro" class="form-control">
                @foreach (var param in ViewBag.Type)
                {
                    if (ViewBag.Data.TypeProID == param.ID)
                    {<option value="@param.ID" selected>@param.TypeProName</option>}
                    else
                    {<option value="@param.ID">@param.TypeProName</option>}
                }
            </select>
        </div>     
        <div class="form-group">
            <label>Status</label>
            <select class="form-control" name="status">
                @if (ViewBag.Data.Status == 1)
                {<option value="1" selected>Show</option>}
                else
                {<option value="1">Show</option>}
                @if (ViewBag.Data.Status == 0)
                {<option value="0" selected>Hidden</option>}
                else
                {<option value="0">Hidden</option>}
            </select>
        </div> 
        <div class="form-group">
            <label>Brand Image:</label><br />
            <img src="@ViewBag.Data.Image" width="100" />
            <input type="file" name="file" class="form-control">
        </div>
       
    </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
        }
    </div>
</div>
