﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>150</h3>

                        <p>New Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3> @ViewBag.Statistical1<sup style="font-size: 20px">%</sup></h3>

                        <p>Bounce Rate</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>44</h3>

                        <p>User Registrations</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>65</h3>

                        <p>Unique Visitors</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-chart-pie mr-1"></i>
                            Sales
                        </h3>
                        <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content p-0">
                            <!-- Morris chart - Sales -->
                            <figure class="highcharts-figure">
                                <div id="container"></div>

                            </figure>
                        </div>
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->

        <div class="row">
            <!-- Left col -->
            <section class="col-lg-6 connectedSortable ui-sortable">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="card">
                    <div class="card-header ui-sortable-handle" style="cursor: move;">
                        <h3 class="card-title">
                            <i class="fas fa-chart-pie mr-1"></i>
                            The products have just passed the auction time
                        </h3>
                        <div class="card-tools">
                           
                        </div>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="card-body p-0">
                            <table class="table table-striped projects">
                                <thead>
                                    <tr>
                                        <th style="width: 3%">
                                            #
                                        </th>
                                        <th >
                                            Product
                                        </th>
                                       
                                        <th style="width: 8%" class="text-center">
                                            Status
                                        </th>
                                        <th style="width: 20%">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var pro in ViewBag.ProEndAuction)
                                    {
                                        <tr>
                                            <td>
                                                @pro.ID
                                            </td>
                                            <td>
                                               <img src="@pro.Image" width="70" />
                                               
                                            </td>


                                            <td class="project-state">
                                                <span class="badge badge-warning">End of the auction</span>
                                            </td>
                                            <td class="project-actions text-right">
                                               

                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
             
            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-6 connectedSortable ui-sortable">
                <div class="card">
                    <div class="card-header ui-sortable-handle" style="cursor: move;">
                        <h3 class="card-title">
                            <i class="fas fa-chart-pie mr-1"></i>
                            Rating customers participating in the auction
                        </h3>
                        <div class="card-tools">
                            
                        </div>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 1%">#</th>
                                    <th>Customer name</th>
                                    <th>Rate</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 0;}
                                @foreach (var item in ViewBag.CustomerRate)
                                {
                                    <tr>
                                        <td>@{i++;} @i</td>
                                        <td>
                                            <a>
                                                @item.FullName
                                            </a>

                                        </td>


                                        <td>
                                            <span class="badge badge-success"> @item.Rate</span>
                                        </td>
                                        <td class="project-actions text-right">
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><!-- /.card-body -->
                </div>
                <!-- Calendar -->
                <div class="card bg-gradient-success">
                    <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">

                        <h3 class="card-title">
                            <i class="far fa-calendar-alt"></i>
                            Calendar
                        </h3>
                        <!-- tools card -->
                        <div class="card-tools">
                            <!-- button with a dropdown -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <div class="dropdown-menu float-right" role="menu">
                                    <a href="#" class="dropdown-item">Add new event</a>
                                    <a href="#" class="dropdown-item">Clear events</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">View calendar</a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body pt-0">
                        <!--The calendar -->
                        <div id="calendar" style="width: 100%"><div class="bootstrap-datetimepicker-widget usetwentyfour"><ul class="list-unstyled"><li class="show"><div class="datepicker"><div class="datepicker-days" style=""><table class="table table-sm"><thead><tr><th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Month"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Month">January 2021</th><th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Month"></span></th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr></thead><tbody><tr><td data-action="selectDay" data-day="12/27/2020" class="day old weekend">27</td><td data-action="selectDay" data-day="12/28/2020" class="day old">28</td><td data-action="selectDay" data-day="12/29/2020" class="day old">29</td><td data-action="selectDay" data-day="12/30/2020" class="day old">30</td><td data-action="selectDay" data-day="12/31/2020" class="day old">31</td><td data-action="selectDay" data-day="01/01/2021" class="day">1</td><td data-action="selectDay" data-day="01/02/2021" class="day weekend">2</td></tr><tr><td data-action="selectDay" data-day="01/03/2021" class="day weekend">3</td><td data-action="selectDay" data-day="01/04/2021" class="day">4</td><td data-action="selectDay" data-day="01/05/2021" class="day">5</td><td data-action="selectDay" data-day="01/06/2021" class="day">6</td><td data-action="selectDay" data-day="01/07/2021" class="day">7</td><td data-action="selectDay" data-day="01/08/2021" class="day">8</td><td data-action="selectDay" data-day="01/09/2021" class="day weekend">9</td></tr><tr><td data-action="selectDay" data-day="01/10/2021" class="day weekend">10</td><td data-action="selectDay" data-day="01/11/2021" class="day">11</td><td data-action="selectDay" data-day="01/12/2021" class="day">12</td><td data-action="selectDay" data-day="01/13/2021" class="day">13</td><td data-action="selectDay" data-day="01/14/2021" class="day">14</td><td data-action="selectDay" data-day="01/15/2021" class="day">15</td><td data-action="selectDay" data-day="01/16/2021" class="day weekend">16</td></tr><tr><td data-action="selectDay" data-day="01/17/2021" class="day weekend">17</td><td data-action="selectDay" data-day="01/18/2021" class="day">18</td><td data-action="selectDay" data-day="01/19/2021" class="day">19</td><td data-action="selectDay" data-day="01/20/2021" class="day">20</td><td data-action="selectDay" data-day="01/21/2021" class="day active today">21</td><td data-action="selectDay" data-day="01/22/2021" class="day">22</td><td data-action="selectDay" data-day="01/23/2021" class="day weekend">23</td></tr><tr><td data-action="selectDay" data-day="01/24/2021" class="day weekend">24</td><td data-action="selectDay" data-day="01/25/2021" class="day">25</td><td data-action="selectDay" data-day="01/26/2021" class="day">26</td><td data-action="selectDay" data-day="01/27/2021" class="day">27</td><td data-action="selectDay" data-day="01/28/2021" class="day">28</td><td data-action="selectDay" data-day="01/29/2021" class="day">29</td><td data-action="selectDay" data-day="01/30/2021" class="day weekend">30</td></tr><tr><td data-action="selectDay" data-day="01/31/2021" class="day weekend">31</td><td data-action="selectDay" data-day="02/01/2021" class="day new">1</td><td data-action="selectDay" data-day="02/02/2021" class="day new">2</td><td data-action="selectDay" data-day="02/03/2021" class="day new">3</td><td data-action="selectDay" data-day="02/04/2021" class="day new">4</td><td data-action="selectDay" data-day="02/05/2021" class="day new">5</td><td data-action="selectDay" data-day="02/06/2021" class="day new weekend">6</td></tr></tbody></table></div><div class="datepicker-months" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Year"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Year">2021</th><th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Year"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectMonth" class="month active">Jan</span><span data-action="selectMonth" class="month">Feb</span><span data-action="selectMonth" class="month">Mar</span><span data-action="selectMonth" class="month">Apr</span><span data-action="selectMonth" class="month">May</span><span data-action="selectMonth" class="month">Jun</span><span data-action="selectMonth" class="month">Jul</span><span data-action="selectMonth" class="month">Aug</span><span data-action="selectMonth" class="month">Sep</span><span data-action="selectMonth" class="month">Oct</span><span data-action="selectMonth" class="month">Nov</span><span data-action="selectMonth" class="month">Dec</span></td></tr></tbody></table></div><div class="datepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Decade"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Decade">2020-2029</th><th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Decade"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectYear" class="year old">2019</span><span data-action="selectYear" class="year">2020</span><span data-action="selectYear" class="year active">2021</span><span data-action="selectYear" class="year">2022</span><span data-action="selectYear" class="year">2023</span><span data-action="selectYear" class="year">2024</span><span data-action="selectYear" class="year">2025</span><span data-action="selectYear" class="year">2026</span><span data-action="selectYear" class="year">2027</span><span data-action="selectYear" class="year">2028</span><span data-action="selectYear" class="year">2029</span><span data-action="selectYear" class="year old">2030</span></td></tr></tbody></table></div><div class="datepicker-decades" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Century"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5">2000-2090</th><th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Century"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectDecade" class="decade old" data-selection="2006">1990</span><span data-action="selectDecade" class="decade" data-selection="2006">2000</span><span data-action="selectDecade" class="decade active" data-selection="2016">2010</span><span data-action="selectDecade" class="decade active" data-selection="2026">2020</span><span data-action="selectDecade" class="decade" data-selection="2036">2030</span><span data-action="selectDecade" class="decade" data-selection="2046">2040</span><span data-action="selectDecade" class="decade" data-selection="2056">2050</span><span data-action="selectDecade" class="decade" data-selection="2066">2060</span><span data-action="selectDecade" class="decade" data-selection="2076">2070</span><span data-action="selectDecade" class="decade" data-selection="2086">2080</span><span data-action="selectDecade" class="decade" data-selection="2096">2090</span><span data-action="selectDecade" class="decade old" data-selection="2106">2100</span></td></tr></tbody></table></div></div></li><li class="picker-switch accordion-toggle"></li></ul></div></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            <!-- right col -->
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
@section scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
    $(function () {
        var sss = '@TempData["Success"]';
        var err = '@TempData["errors"]';
        console.log(sss);
        if (sss != '') {
        swal(sss, "Hãy xác nhận để tiếp tục!", "success");
        }
        if (err != '') {
        swal(err, "...and here's the text!");
        }
    })

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Statistics of sales by month in 2021'
            },
            
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Total percent market share'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}usd'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.1f}usd</b> of total<br/>'
            },

            series: [
                {
                    name: "Statistical",
                    colorByPoint: true,
                    data: [
                        {
                            name: "January",
                            y: @ViewBag.Statistical1,
                            drilldown: "January"
                        },
                        {
                            name: "February",
                            y: @ViewBag.Statistical2,
                            drilldown: "February"
                        },
                        {
                            name: "March",
                            y: @ViewBag.Statistical3,
                            drilldown: "March"
                        },
                        {
                            name: "April",
                            y: @ViewBag.Statistical4,
                            drilldown: "April"
                        },
                        {
                            name: "May",
                            y: @ViewBag.Statistical5,
                            drilldown: "May"
                        },
                        {
                            name: "June",
                            y: @ViewBag.Statistical6,
                            drilldown: "June"
                        },
                        {
                            name: "July",
                            y: @ViewBag.Statistical7,
                            drilldown: "July"
                        },
                        {
                            name: "August",
                            y: @ViewBag.Statistical8,
                            drilldown: "August"
                        },
                        {
                            name: "September",
                            y: @ViewBag.Statistical9,
                            drilldown: "September"
                        },
                        {
                            name: "October",
                            y: @ViewBag.Statistical10,
                            drilldown: "October"
                        },
                        {
                            name: "November",
                            y: @ViewBag.Statistical11,
                            drilldown: "November"
                        },
                        {
                            name: "December",
                            y: @ViewBag.Statistical12,
                            drilldown: "December"
                        }
                    ]
                }
            ],
            drilldown: {
                series: [
                    {
                        name: "January",
                        id: "January",
                        data: [
                            ["Total price",@ViewBag.StatisticalTTP1],
                            ["Money Received",@ViewBag.StatisticalTMR1],
                            ["Auction Fees",@ViewBag.Statistical1],
                        ]
                    },
                    {
                        name: "February",
                        id: "February",
                        data: [
                            ["Total price",@ViewBag.StatisticalTTP2],
                            ["Money Received",@ViewBag.StatisticalTMR2],
                            ["Auction Fees",@ViewBag.Statistical2],
                        ]
                    },
                    {
                        name: "March",
                        id: "March",
                        data: [
                            ["Total price",@ViewBag.StatisticalTTP3],
                            ["Money Received",@ViewBag.StatisticalTMR3],
                            ["Auction Fees",@ViewBag.Statistical3],
                        ]
                    },
                    {
                        name: "April",
                        id: "April",
                      data: [
                            ["Total price",@ViewBag.StatisticalTTP4],
                            ["Money Received",@ViewBag.StatisticalTMR4],
                            ["Auction Fees",@ViewBag.Statistical4],
                        ]
                    },
                    {
                        name: "May",
                        id: "May",
                       data: [
                            ["Total price",@ViewBag.StatisticalTTP5],
                            ["Money Received",@ViewBag.StatisticalTMR5],
                            ["Auction Fees",@ViewBag.Statistical5],
                        ]
                    },
                    {
                        name: "June",
                        id: "June",
                        data: [
                            ["Total price",@ViewBag.StatisticalTTP6],
                            ["Money Received",@ViewBag.StatisticalTMR6],
                            ["Auction Fees",@ViewBag.Statistical6],
                        ]
                    },
                    {
                        name: "July",
                        id: "July",
                        data: [
                            ["Total price",@ViewBag.StatisticalTTP7],
                            ["Money Received",@ViewBag.StatisticalTMR7],
                            ["Auction Fees",@ViewBag.Statistical7],
                        ]
                    },
                    {
                        name: "August",
                        id: "August",
                        data: [
                            ["Total price",@ViewBag.StatisticalTTP8],
                            ["Money Received",@ViewBag.StatisticalTMR8],
                            ["Auction Fees",@ViewBag.Statistical8],
                        ]
                    },
                    {
                        name: "September",
                        id: "September",
                        data: [
                            ["Total price",@ViewBag.StatisticalTTP9],
                            ["Money Received",@ViewBag.StatisticalTMR9],
                            ["Auction Fees",@ViewBag.Statistical9],
                        ]
                    },
                    {
                        name: "October",
                        id: "October",
                        data: [
                            ["Total price",@ViewBag.StatisticalTTP10],
                            ["Money Received",@ViewBag.StatisticalTMR10],
                            ["Auction Fees",@ViewBag.Statistical10],
                        ]
                    },
                    {
                        name: "November",
                        id: "November",
                        data: [
                            ["Total price",@ViewBag.StatisticalTTP11],
                            ["Money Received",@ViewBag.StatisticalTMR11],
                            ["Auction Fees",@ViewBag.Statistical11],
                        ]
                    },
                    {
                        name: "December",
                        id: "December",
                        data: [
                            ["Total price",@ViewBag.StatisticalTTP12],
                            ["Money Received",@ViewBag.StatisticalTMR12],
                            ["Auction Fees",@ViewBag.Statistical12],
                        ]
                    }
                ]
            }

        });
    </script>
}