﻿
<div class="modal-dialog" role="document">
    <div class="modal-content" style="width:700px;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Detail:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h3 class="text-primary"><i class="fas fa-info-circle">  </i>    @ViewBag.TypePro.TypeProName</h3>
           
            <br>
            
            <h5 class="mt-5 text-muted">Info:</h5>
            <table class="table table-striped projects">
                <tr>
                    <td>Status:</td>
                    <td>
                        @if (ViewBag.TypePro.Status == 1)
                        {<p class="badge badge-success">Show</p>}
                        else
                        {<p class="badge badge-danger">Hidden</p>}
                    </td>
                </tr>
                
                <tr>
                    <td>Date Created:</td>
                    <td>@ViewBag.TypePro.Created</td>
                </tr>

            </table>

        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>

    </div>
</div>