﻿<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit @ViewBag.TypePro.TypeProName</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("UpdateType", "TypeProduct", FormMethod.Post, new { enctype = "multipart/form-data",@id="formEdit" }))
        {
    <div class="modal-body">
        <input type="hidden" name="id" value="@ViewBag.TypePro.ID" />
        <div class="form-group">
            <label>Product type name:</label>
            <input type="text" name="typeName" class="form-control" value="@ViewBag.TypePro.TypeProName" placeholder="Tên loại sản phẩm33">
        </div>
        <div class="form-group">
            <label>Status:</label>
            <select class="form-control" name="status">
                @if (ViewBag.TypePro.Status == 1)
                {<option value="1" selected>Show</option>}
                else
                {<option value="1">Show</option>}
                @if (ViewBag.TypePro.Status == 0)
                {<option value="0" selected>Hidden</option>}
                else
                {<option value="0">Hidden</option>}
            </select>
        </div>

    </div>
        <div class="modal-footer">
            <button type="button" onclick="UpdateTypeAjax()" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        }
    </div>
</div>
