﻿@using PagedList;
@using PagedList.Mvc;
@model AdminOnlineAuction.Models.Entity.Type_Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product Type Manager</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Product Type Manager</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="col-md-1 mb-3">

    <button type="button" class="btn btn-block btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">
        Add New
    </button>
    <!-- /.card -->
</div>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List Product Type</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product type name</th>
                        <th>Date created</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;}
                    @foreach (var item in ViewBag.data)
                    {
                        <tr>
                            <td>@{i++;} @i</td>
                            <td>@item.TypeProName</td>
                            <td>@item.Created</td>
                            <td>
                                @if (item.Status == 1)
                                {<p class="badge badge-success">Show</p>}
                                else
                                {<p class="badge badge-danger">Hidden</p>}
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm" onclick="DetailType(@item.ID)" type="button" data-toggle="modal" data-target="#exampleModal2"><i class="fas fa-folder"></i>Details</button>
                                <button onclick="EditTypeAjax(@item.ID)" class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#exampleModal1"><i class="fas fa-pencil-alt"></i>Edit</button>
                               @* <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Category", new { id = item.ID })"><i class="fas fa-trash"></i>Delete</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
          
            @Html.PagedListPager((IPagedList)ViewBag.data, page => Url.Action("Index", new { page }))

        </div>
    </div>
    <!-- /.card -->

</section>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddType", "TypeProduct", FormMethod.Post, new { @id = "formsubmit12" }))
            {

                <div class="modal-body">
                    <div class="form-group">
                        <label>Product type name:</label>
                        <input type="text" id="type_name" name="typeName" class="form-control" placeholder="Enter product type name..">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="AddTypeAjax()" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>
@*edit*@
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập Nhật Danh Mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("UpdateType", "TypeProduct", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">

                    <label>Tên Danh Mục:</label>
                    <input type="text" id="typeName" name="typeName" class="form-control" placeholder="Tên loại sản phẩm1">

                </div>
                <div class="modal-footer">
                    <button type="button" onclick="" class="btn btn-primary ">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">


            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>

        </div>
    </div>
</div>
@section scripts {
    <script>
         
        function UpdateTypeAjax() {
            var _data = $('#formEdit').serialize();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateType", "TypeProduct")',
                data: _data,
                success: function (res) {
                    $("body").html(res);
                    swal("Update successful!", "Hãy xác nhận để tiếp tục!", "success");
                }
            })

        };

        function AddTypeAjax() {
            var validFrm = $("#formsubmit12").validate({
                rules: {
                    typeName:'required'
                }, messages: {
                    typeName: {
                        required:'Vui long nhap ten loai san pham!'
                    },
                    submitHandler: function (form) {
                        return false;
                    }
                }
            })

                let _data = $('#formsubmit12').serialize();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddType", "TypeProduct")',
                data: _data,

                success: function (res) {
                    console.log(res);
                    $("body").html(res);
                    swal("Successfully added!", "Hãy xác nhận để tiếp tục!", "success");
                }
            })



        };
        function EditTypeAjax(id) {
            $.ajax({
                type: 'GET',
                url: 'TypeProduct/EditType/' + id,
                success: function (res) {
                    $("#exampleModal1").html(res);

                }
            })
        };
        function DetailType(id) {
            $.ajax({
                type: 'GET',
                url: 'TypeProduct/Details/' + id,
                success: function (res) {
                    $("#exampleModal2").html(res);
                }
            })
        }




    </script>

}
