﻿
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Detail</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Detail</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Detail</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
               
                <div class="col-12 col-md-12 col-lg-12 order-1 order-md-2">
                    <h3 class="text-primary"><i class="fas fa-info-circle">  </i>     @ViewBag.Data.Title</h3>
                    @Html.Raw(ViewBag.Data.Content)
                    <br>
                    <div class="text-muted">

                    </div>

                    <h5 class="mt-5 text-muted">Info:</h5>
                    <table class="table table-striped projects col-lg-4">
                        <tr>
                            <td>Status:</td>
                            <td>
                                @if (ViewBag.Data.Status == 1)
                                {<p class="badge badge-success">Show</p>}
                                else
                                {<p class="badge badge-danger">Hidden</p>}
                            </td>
                        </tr>

                        <tr>
                            <td>Date Created:</td>
                            <td>@ViewBag.Data.Created</td>
                        </tr>

                    </table>
                    <div class=" mt-5 mb-3 col-lg-4">
                        
                        <a href="@Url.Action("Index","Support")" class="btn btn-sm btn-warning">Home</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>