﻿@model AdminOnlineAuction.Models.Entity.CustomerSuport

@{
    ViewBag.Title = "EditSupport";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit customer suppor</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Edit customer suppor</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Edit customer suppor</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            @using (Html.BeginForm("UpdateSuport", "Support", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                       <label class="control-label">Status</label>
                       <select class="form-control" name="status">
                           @if (Model.Status == 1)
                           {<option value="1" selected>Show</option>}
                           else
                           {<option value="1">Show</option>}
                           @if (Model.Status == 0)
                           {<option value="0" selected>Hidden</option>}
                           else
                           {<option value="0">Hidden</option>}                         
                       </select>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div id="toolbar-container"></div>
                        <div id="editor" style="height: 500px;border: 1px solid #80808047;">

                        </div>
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", @Type = "Hidden" } })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>


                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
</section>



@section scripts {
    <script src="~/Content/ckeditor5/ckeditor.js"></script>
    <script>
        DecoupledEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                editor.setData($("#Content").val());
                editor.model.document.on('change:data', () => {
                    $("#Content").val(editor.getData());
                });

                const toolbarContainer = document.querySelector('#toolbar-container');

                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            })
            .catch(error => {
                console.error(error);
            });

    </script>



}
