﻿
@using PagedList;
@using PagedList.Mvc;
@model  IPagedList<AdminOnlineAuction.Models.Entity.CustomerSuport>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Customer support management</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Customer support management</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="col-md-1 mb-3">

    <button type="button" class="btn btn-block btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">
        Add New
    </button>
    <!-- /.card -->
</div>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List Customer Support</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Customer suppor title</th>
                        <th>Date created</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@{i++;} @i</td>
                            <td>@item.Title</td>
                            <td>@item.Created</td>
                            <td>
                                @if (item.Status == 1)
                                {<p class="badge badge-success">Show</p>}
                                else
                                {<p class="badge badge-danger">Hidden</p>}

                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="@Url.Action("Details","Support", new { id = item.ID })"><i class="fas fa-folder"></i>Details</a>
                                <a class="btn btn-info btn-sm" href="@Url.Action("EditSupport","Support", new { id = item.ID })"><i class="fas fa-pencil-alt"></i>Edits</a>
                              @*  <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Category", new { id = item.ID })"><i class="fas fa-trash"></i>Delete</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- /.card-body -->
        <div class="card-footer clearfix">
           
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

        </div>
    </div>
    <!-- /.card -->

</section>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddData", "Support", FormMethod.Post, new { @id = "formsubmit12" }))
            {
                <div class="modal-body">
                   
                    <div class="form-group">
                        <label>Title:</label>
                        <input type="text" class="form-control" name="title" placeholder="Nhập tiêu đề bài viết"/>
                       
                    </div>
                    <div class="form-group">

                        <label>Content:</label>
                        <div id="toolbar-container"></div>
                        <div id="editor" style="height: 250px;border: 1px solid #80808047;">

                        </div>
                       
                        <input type="hidden" id="Content" name="content" class="form-control" />
                
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="" class="btn btn-primary">Lưu</button>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            }
        </div>
    </div>
</div>
@*edit*@
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập Nhật Danh Mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("UpdateType", "TypeProduct", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">

                    <label>Tiêu Đề:</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Tên loại sản phẩm1">
                    <label>Nội Dung:</label>
                    <div id="toolbar-container1"></div>

                    <!-- This container will become the editable. -->
                    <div id="editor1">

                    </div>
                    <input type="text" id="contentt" name="contentt" class="form-control" placeholder="Tên loại sản phẩm1">

                </div>
                <div class="modal-footer">
                    <button type="button" onclick="" class="btn btn-primary ">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            }
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Content/ckeditor5/ckeditor.js"></script>
    <script>
        DecoupledEditor
            .create(document.querySelector('#editor'))
            .then(editor => {

                editor.model.document.on('change:data', () => {
                    $("#Content").val(editor.getData());
                });

                const toolbarContainer = document.querySelector('#toolbar-container');

                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            })
            .catch(error => {
                console.error(error);
            });

    </script>
    <script>
        DecoupledEditor
            .create(document.querySelector('#editor1'))
            .then(editor => {
                editor.setData($("#Content").val());
                editor.model.document.on('change:data', () => {
                    $("#Content").val(editor.getData());
                });

                const toolbarContainer = document.querySelector('#toolbar-container1');

                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        $(function () {
            var sss = '@TempData["Success"]';
            var err = '@TempData["errors"]';

            if (sss != '') {
                swal(sss, "Hãy xác nhận để tiếp tục!", "success");
            }
            if (err != '') {
                swal(err, "...and here's the text!");
            }
            validFrm = $("#formsubmit12").validate({
                rules: {
                    title: 'required',
                },
                messages: {
                    title: {
                        required: 'Tiêu đề không được để trống..'
                    },                 
                },

            })
        })

        function EditSupport(id) {
            $.ajax({
                type: 'GET',
                url: 'Support/EditSupport/' + id,
                success: function (res) {
                    $("#exampleModal1").html(res);
                }
            })
        }
    </script>


}







