﻿<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Parameter</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("Update", "Parameter", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
    <div class="modal-body">
        <input type="hidden" name="id" value="@ViewBag.Param.ID" />
        <div class="form-group">
            <label>Parameter name:</label>
            <input type="text" name="nameParam" value="@ViewBag.Param.ParameterName" class="form-control" placeholder="Nhập tên thông số..">
        </div>       
        <div class="form-group">
            <label>Category:</label>
            <select name="typePro" class="form-control">
                @foreach (var param in ViewBag.Type)
                {                
                    if (ViewBag.Param.TypeProID == param.ID)
                    {<option value="@param.ID" selected>@param.TypeProName</option>}
                    else
                    {<option value="@param.ID">@param.TypeProName</option>}
                }
            </select>
        </div>     
        <div class="form-group">
            <label>Status</label>
            <select class="form-control" name="status">
                @if (ViewBag.Param.Status == 1)
                {<option value="1" selected>Show</option>}
                else
                {<option value="1">Show</option>}
                @if (ViewBag.Param.Status == 0)
                {<option value="0" selected>Hidden</option>}
                else
                {<option value="0">Hidden</option>}
            </select>
        </div>       
    </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-warning ">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        }
    </div>
</div>





