﻿<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Banner Type</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("UpdateTypeBanner", "TypeBanner", FormMethod.Post, new { @id = "formsubmit12" }))
        {
            <input type="hidden" name="id" value="@ViewBag.Data.ID"/>
            <div class="modal-body">
                <div class="form-group">
                    <label>Banner type name:</label>
                    <input type="text" id="type_name" name="title" class="form-control" value="@ViewBag.Data.Title" >
                </div>               
                <div class="form-group">
                    <label>Status:</label>
                    <select class="form-control" name="status">
                        @if (ViewBag.Data.Status == 1)
                        {<option value="1" selected>Show</option>}
                        else
                        {<option value="1">Show</option>}
                        @if (ViewBag.Data.Status == 0)
                        {<option value="0" selected>Hidden</option>}
                        else
                        {<option value="0">Hidden</option>}
                    </select>
                </div>
               
                <div class="form-group">
                    <label>Description:</label>
                    <textarea type="text" name="description" class="form-control">@ViewBag.Data.Description</textarea>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                }
            </div>
</div>
