﻿@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Banner Type Manager</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Banner Type Manager</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="col-md-1 mb-3">

    <button type="button" class="btn btn-block btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">
        Add New
    </button>
    <!-- /.card -->
</div>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List Banner Type</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Banner type name</th>
                        <th>Date created</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;}
                    @foreach (var item in ViewBag.Banner)
                    {
                        <tr>
                            <td>@{i++;} @i</td>
                            <td>@item.Title</td>

                            <td>@item.Created</td>
                            <td>
                                @if (item.Status == 1)
                                {
                                    <p class="badge badge-success">Show</p>
                                }
                                else
                                {
                                    <p class="badge badge-danger">Hidden</p>
                                }
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm" onclick="DetailTypeBanner(@item.ID)" type="button" data-toggle="modal" data-target="#exampleModal2"><i class="fas fa-folder"></i>Details</button>
                                <button onclick="EditTypeBanner(@item.ID)" class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#exampleModal1"><i class="fas fa-pencil-alt"></i>Edit</button>
                                @*<a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Category", new { id = item.ID })"><i class="fas fa-trash"></i>Delete</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">

            @Html.PagedListPager((IPagedList)ViewBag.Banner, page => Url.Action("Index", new { page }))

        </div>
    </div>
    <!-- /.card -->

</section>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Banner Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddNew", "TypeBanner", FormMethod.Post, new { @id = "formsubmit12" }))
            {

                <div class="modal-body">
                    <div class="form-group">
                        <label>Banner type name:</label>
                        <input type="text" id="type_name" name="title" class="form-control" placeholder="Enter banner type..">
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea type="text" name="description" placeholder="Enter desciption.." class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            }
        </div>
    </div>
</div>
@*edit*@
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập Nhật Danh Mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("UpdateType", "TypeProduct", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">

                    <label>Tên Danh Mục:</label>
                    <input type="text" id="typeName" name="typeName" class="form-control" placeholder="Tên loại sản phẩm1">

                </div>
                <div class="modal-footer">
                    <button type="button" onclick="" class="btn btn-primary ">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>

        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function () {
            var sss = '@TempData["Success"]';
            var err = '@TempData["errors"]';
            console.log(sss);
            if (sss != '') {
                swal(sss, "Hãy xác nhận để tiếp tục!", "success");
            }
            if (err != '') {
                swal(err, "...and here's the text!");
            }
            validFrm = $("#formsubmit12").validate({
                rules: {
                    title: 'required',
                    description: 'required',
                },
                messages: {
                    title: {
                        required: 'Tiêu đề không được để trống..'
                    },
                    description: {
                        required: 'Mô tả không được để trống..'
                    },                 
                },

            })
        });
        function EditTypeBanner(id) {
            $.ajax({
                method: "GET",
                url: 'TypeBanner/EditTypeBanner/' + id,
                success: function (res) {
                    $("#exampleModal1").html(res);
                }
            })
        }
        function DetailTypeBanner(id) {
            $.ajax({
                type: 'GET',
                url: 'TypeBanner/Details/' + id,
                success: function (res) {
                    $("#exampleModal2").html(res);
                }
            })
        }
    </script>

}
