﻿@using AdminOnlineAuction.Models.Entity;
@{
    Order od = new Order();
    var dt = od.GetAutionByProId(ViewBag.Data.AutionID);
    var std = od.OrderSt(ViewBag.Data.status);
    var st_class = od.OrderStClass(ViewBag.Data.status);
}
<div class="modal-header">
    <h4 class="modal-title">Detail Order</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <h3 class="text-primary"><i class="fas fa-info-circle">  </i>@ViewBag.Data.Customer.FullName</h3>
    <div class="text-muted">
        <img src="@ViewBag.Pro.ProductAuction.Image" width="150" />
    </div>
    <h5 class="mt-5 text-muted">Info:</h5>
    <table class="table table-striped projects">
        <tr>
            <td>Status:</td>
            <td><p class="@st_class">@std</p></td>
        </tr>
        <tr>
            <td>Auction:</td>
            <td>@ViewBag.Data.AutionID</td>
        </tr>
        <tr>
            <td>Receiver:</td>
            @if (ViewBag.Data.Receiver != null)
            {
                <td>@ViewBag.Data.Receiver</td>

            }
            else
            {
                <td>waiting...</td>
            }
        </tr>
        <tr>
            <td>Email Receiver:</td>
            <td>@ViewBag.Data.Email</td>
        </tr>
        <tr>
            <td>Payment:</td>
            <td>@ViewBag.Data.Payment</td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td>@ViewBag.Data.Phone</td>
        </tr>
        <tr>
            <td>Auction account:</td>
            <td>@ViewBag.Data.Customer.Email</td>
        </tr>
        <tr>
            <td>Auction fees:</td>
            <td>$@Convert.ToDecimal(ViewBag.Data.AuctionFees).ToString("#,##0.0")</td>
        </tr>
        <tr>
            <td>Money received:</td>
            <td>$@Convert.ToDecimal(ViewBag.Data.MoneyReceived).ToString("#,##0.0")</td>
        </tr>
        <tr>
            <td>Total price:</td>
            <td>$@Convert.ToDecimal(ViewBag.Data.TotalPrice).ToString("#,##0.0")</td>
        </tr>
        <tr>
            <td>
                @if (ViewBag.Data.status == 1)
                {
                    using (Html.BeginForm("UpdateStatus", "Order", FormMethod.Post))
                    {
                        <input type="hidden" name="id" value="@ViewBag.Data.ID" />
                        <label>Update Status:</label><br />
                        <select name="status" class="form-control">

                            <option value="1">Waiting for delivery</option>
                            <option value="2">Being transported</option>
                            <option value="3">Complete</option>
                            <option value="4">Cancel</option>
                        </select>
                        <button type="submit" class="btn btn-info" style="margin-top:15px;">Update</button>

                    }
                }
                else if (ViewBag.Data.status == 2)
                {
                    using (Html.BeginForm("UpdateStatus", "Order", FormMethod.Post))
                    {
                        <input type="hidden" name="id" value="@ViewBag.Data.ID" />
                        <label>Update Status:</label><br />
                        <select name="status" class="form-control">
                            <option value="2">Being transported</option>
                            <option value="3">Complete</option>
                            <option value="4">Cancel</option>
                        </select>
                        <button type="submit" class="btn btn-info" style="margin-top:15px;">Update</button>
                    }
                }

            </td>

        </tr>


    </table>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

</div>

