﻿@using AdminOnlineAuction.Models.Entity;
@{
    Order od = new Order();
    var dt = od.GetAutionByProId(ViewBag.Data.AutionID);
    var std = od.OrderSt(ViewBag.Data.status);
    var st_class = od.OrderStClass(ViewBag.Data.status);
}
@{
    ViewBag.Title = "DetailOrder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Project Detail</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Project Detail</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="col-md-8">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Projects Detail</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5 style="color:antiquewhite">
                            @if (ViewBag.Data.status == 0)
                            {<span style="padding: 0px 10px;color: #17a2b8;">Wait for confirmation</span>}
                            else
                            {<span style="padding:0px 10px;">Wait for confirmation</span>}
                            <i class="fas fa-long-arrow-alt-right"></i>
                            @if (ViewBag.Data.status == 1)
                            {<span style="padding: 0px 10px;color: #17a2b8;">Waiting for delivery</span>}
                            else
                            {<span style="padding:0px 10px;">Waiting for delivery</span>}
                            <i class="fas fa-long-arrow-alt-right"></i>
                            @if (ViewBag.Data.status == 2)
                            {<span style="padding: 0px 10px;color: #17a2b8;">Being transported</span>}
                            else
                            {<span style="padding:0px 10px;">Being transported</span>}
                            <i class="fas fa-long-arrow-alt-right"></i>
                            @if (ViewBag.Data.status == 3)
                            {<span style="padding: 0px 10px;color: #17a2b8;">Complete</span>}
                            else
                            {<span style="padding:0px 10px;">Complete</span>}

                            <i class="fas fa-long-arrow-alt-right"></i>
                            @if (ViewBag.Data.status == 4)
                            {<span style="padding: 0px 10px;color: #17a2b8;font-weight:bold">Cancel</span>}
                            else
                            {<span style="padding:0px 10px;">Cancel</span>}
                        </h5>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12 col-md-12 col-lg-7 order-2 order-md-1">
                        <h3 class="text-primary"><i class="fas fa-paint-brush"></i> @ViewBag.Data.Auction.ProductAuction.ProName</h3>
                        <img src="@ViewBag.Data.Auction.ProductAuction.Image" style="width:100%" />

                    </div>
                    <div class="col-12 col-md-12 col-lg-5 order-1 order-md-2">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-striped projects">
                                    <tr>
                                        <td>Status:</td>
                                        <td><p class="@st_class">@std</p></td>
                                    </tr>
                                    <tr>
                                        <td>Auction:</td>
                                        <td>@ViewBag.Data.AutionID</td>
                                    </tr>
                                    <tr>
                                        <td>Receiver:</td>
                                        @if (ViewBag.Data.Receiver != null)
                                        {
                                            <td>@ViewBag.Data.Receiver</td>

                                        }
                                        else
                                        {
                                            <td>waiting...</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Email Receiver:</td>
                                        <td>@ViewBag.Data.Email</td>
                                    </tr>
                                    <tr>
                                        <td>Payment:</td>
                                        <td>@ViewBag.Data.Payment</td>
                                    </tr>
                                    <tr>
                                        <td>Phone number:</td>
                                        <td>@ViewBag.Data.Phone</td>
                                    </tr>
                                    <tr>
                                        <td>Auction account:</td>
                                        <td>@ViewBag.Data.Customer.Email</td>
                                    </tr>
                                    <tr>
                                        <td>Salesman:</td>
                                        <td>@ViewBag.SaleMan.Email</td>
                                    </tr>
                                    <tr>
                                        <td>Auction fees:</td>
                                        <td>$@Convert.ToDecimal(ViewBag.Data.AuctionFees).ToString("#,##0.0")</td>
                                    </tr>
                                    <tr>
                                        <td>Money received:</td>
                                        <td>$@Convert.ToDecimal(ViewBag.Data.MoneyReceived).ToString("#,##0.0")</td>
                                    </tr>
                                    <tr>
                                        <td>Total price:</td>
                                        <td>$@Convert.ToDecimal(ViewBag.Data.TotalPrice).ToString("#,##0.0")</td>
                                    </tr>
                                    <tr>
                                        <td>  Update Status:</td>
                                        <td>
                                            @if (ViewBag.Data.status == 1)
                                            {
                                                using (Html.BeginForm("UpdateStatus", "Order", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="id" value="@ViewBag.Data.ID" />
                                                    <select name="status" class="form-control">
                                                        <option value="1">Waiting for delivery</option>
                                                        <option value="2">Being transported</option>
                                                        <option value="3">Complete</option>
                                                        <option value="4">Cancel</option>
                                                    </select>
                                                    <button type="submit" class="btn btn-info" style="margin-top:15px;">Update</button>
                                                }
                                            }
                                            else if (ViewBag.Data.status == 2)
                                            {
                                                using (Html.BeginForm("UpdateStatus", "Order", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="id" value="@ViewBag.Data.ID" />
                                                    <select name="status" class="form-control">
                                                        <option value="2">Being transported</option>
                                                        <option value="3">Complete</option>
                                                        <option value="4">Cancel</option>
                                                    </select>
                                                    <button type="submit" class="btn btn-info" style="margin-top:15px;">Update</button>
                                                }
                                            }

                                        </td>

                                    </tr>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</section>
@section scripts {

    <script>
          $(function () {
            var sss = '@TempData["Success"]';
            var err = '@TempData["errors"]';
              console.log(sss);

            if (sss != '') {
            swal(sss, "Hãy xác nhận để tiếp tục!", "success");
            }
            if (err != '') {
            swal(err, "...and here's the text!");
            }
        })
      
    </script>

}


