﻿@using PagedList;
@using PagedList.Mvc;
@using AdminOnlineAuction.Models.Entity;
@{
    ViewBag.Title = "GetStatus";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Order management</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Order management</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Order management</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0 mt-3 mb-3">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-2">
                        <a href="@Url.Action("Index")" class="btn btn-block btn-primary" style="color:#fff">All Order</a>
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("GetStatus",new { status = 0 })" class="btn btn-block btn-secondary" style="color:#fff">Wait for confirmation(@ViewBag.Status0)</a>
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("GetStatus",new { status = 1 })" class="btn btn-block btn-warning" style="color:#fff">Waiting for delivery(@ViewBag.Status1)</a>
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("GetStatus",new { status = 2 })" class="btn btn-block btn-info" style="color:#fff">Being transported(@ViewBag.Status2)</a>
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("GetStatus",new { status = 3 })" class="btn btn-block btn-success" style="color:#fff">Complete(@ViewBag.Status3)</a>
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("GetStatus",new { status = 4 })" class="btn btn-block btn-danger" style="color:#fff">Cancel(@ViewBag.Status4)</a>
                    </div>
                    <div class="col-md-4">
                        @using (Html.BeginForm())
                        {
                            <label class="col-form-label" for="inputWarning">
                                <i class="far fa-bell"></i> search by product code
                            </label>
                            <div class="row">

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="hidden" name="status" value="@ViewBag.Status"/>
                                        <input type="number" name="key" class="form-control is-warning" id="inputWarning" placeholder="Enter order code...">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>

                        }
                    </div>

                </div>
            </div>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Order management</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">#</th>
                        <th style="width: 20%">Customer Name</th>
                        <th>Image product</th>
                        <th>End date time</th>
                        <th style="width: 8%" class="text-center">Status</th>
                        <th style="width: 20%"></th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;}
                    @foreach (var item in ViewBag.OrderStatus)
                    {
                        <tr>
                            <td>
                                @{i++;} @i
                            </td>
                            <td>
                                <a>
                                    @item.Customer.FullName
                                </a>
                                <br>
                                <small>
                                    Created @item.Created
                                </small>
                                <br>
                                <small>Order code: @item.ID</small><br>

                            </td>
                            @{
                                Order od = new Order();
                                var dt = od.GetAutionByProId(item.AutionID);
                                var std = od.OrderSt(item.status);
                                var st_class = od.OrderStClass(item.status);
                            }
                            <td>
                                <img alt="Avatar" class="table-avatar" src="@dt.ProductAuction.Image">
                            </td>
                            <td>
                                @item.EndDateTime
                            </td>
                            <td class="project-state">

                                <span class="@st_class">@std</span>
                            </td>
                            <td class="project-actions text-center">
                                @*<button class="btn btn-primary btn-sm" onclick="DetailPro(@item.ID)" type="button" data-toggle="modal" data-target="#modal-default">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </button>*@
                                <a href="@Url.Action("DetailOrder","Order",new { id =  @item.ID})" class="btn btn-primary btn-sm"><i class="fas fa-folder"></i>View</a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">

            @Html.PagedListPager((IPagedList)ViewBag.OrderStatus, page => Url.Action("GetStatus", new { ViewBag.Status, page }))

        </div>
    </div>
    <!-- /.card -->

</section>


<div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-detail" style="width:700px;">
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts {
    <script>
        function DetailPro(id) {
            $.ajax({
                type: 'GET',
                url: '../Order/Detail/' + id,
                success: function (res) {
                    $("#modal-detail").html(res);
                    
                }
            })
        }
    </script>

}



