﻿<div class="modal-dialog" role="document">
    <div class="modal-content" style="width:700px;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Detail:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <h3 class="text-primary"><i class="fas fa-paint-brush"></i> @ViewBag.Data.Email</h3>
            @ViewBag.Data.Content

        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>

    </div>
    </div>
