﻿@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Feedback</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Feedback</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Folders</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item active">
                            <a href="#" class="nav-link">
                                <i class="fas fa-inbox"></i> Feedback
                                <span class="badge bg-primary float-right">@ViewBag.FbCount</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
           
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Feedback</h3>

                    <div class="card-tools">

                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <tbody>
                                @foreach (var item in ViewBag.FeedbackData)
                                {

                                    <tr>

                                        <td class="mailbox-star">
                                            @if (item.Status == 1)
                                            {
                                                <a href="#"><i class="fas fa-star text-warning"></i></a>
                                            }

                                        </td>
                                        <td class="mailbox-name"><a href="@Url.Action("Detail","Feedback",new { id = item.ID })" >@item.Email</a></td>
                                        <td class="mailbox-subject">
                                            <b>@item.UserName</b>
                                        </td>

                                        <td class="mailbox-date">@item.Created</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer p-0">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        <div class="float-right">
                            @Html.PagedListPager((IPagedList)ViewBag.FeedbackData, page => Url.Action("Index", new { page }))
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.float-right -->
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>





@section scripts {

    <script>
        $(function () {
            var sss = '@TempData["Success"]';
            var err = '@TempData["errors"]';

            if (sss != '') {
                swal(sss, "Please confirm to continue!", "success");
            }
            if (err != '') {
                swal(err, "...and here's the text!");
            }
            
        });
        

    </script>


}

