﻿
<div class="col-md-6">
    <div class="form-group">
        <label class="message" style="margin-top:15px;"><i class="far fa-envelope"></i></label>
        <select  name="brandid"  style="padding: 5px 50px 0;height: 60px;border-bottom: 1px solid #bccaea !important;border:0px">
            @foreach (var brand in ViewBag.Brand)
            {
                <option value="@brand.ID">@brand.BrandName</option>
            }
        </select>
    </div>
</div>
<div class="col-md-6">

</div>
@foreach (var pramvalue in ViewBag.Parameter)
{
    <div class="col-md-6">
        <div class="form-group ">
            <label><i class="fas fa-paragraph"></i></label>
            <input type="hidden" name="param_id" value="@pramvalue.ID" />
            <input type="hidden" name="param_name" value="@pramvalue.ParameterName" />
            <input type="text" name="value_param" placeholder="Nhập @pramvalue.ParameterName">
        </div>
    </div>

}
