﻿@using PagedList;
@using PagedList.Mvc;
<div class="dashboard-widget">
    <h5 class="title mb-10">My Order</h5>
    <div class="dashboard-purchasing-tabs">
        <ul class="nav-tabs nav">

            <li>
                <a href="#pending" class="active" data-toggle="tab">All</a>
            </li>
            <li>
                <a href="#history" data-toggle="tab">History</a>
            </li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane show active fade" id="pending">
                <table class="purchasing-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Orders code</th>
                            <th>Product Auction</th>
                            <th>Total Price</th>
                            <th>Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 0;}
                        @foreach (var order in ViewBag.OrderAll)
                        {
                            <tr>
                                <td data-purchase="item"> @{i++;} @i</td>
                                <td data-purchase="bid price">@order.Order.ID</td>
                                <td data-purchase="highest bid"><img src="@order.ProductAuction.Image" style="width:50px" /></td>
                                <td data-purchase="lowest bid">$1,400.00</td>
                                <td data-purchase="expires">7/2/2020</td>
                            </tr>
                        }


                    </tbody>
                </table>
                @Html.PagedListPager((IPagedList)ViewBag.OrderAll, page => Url.Action("Index", new { page }))
            </div>
            <div class="tab-pane show fade" id="history">
                <table class="purchasing-table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Bid Price</th>
                            <th>Highest Bid</th>
                            <th>Lowest Bid</th>
                            <th>Expires</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-purchase="item">2018 Hyundai Sonata</td>
                            <td data-purchase="bid price">$1,775.00</td>
                            <td data-purchase="highest bid">$1,775.00</td>
                            <td data-purchase="lowest bid">$1,400.00</td>
                            <td data-purchase="expires">7/2/2020</td>
                        </tr>
                        <tr>
                            <td data-purchase="item">2018 Hyundai Sonata</td>
                            <td data-purchase="bid price">$1,775.00</td>
                            <td data-purchase="highest bid">$1,775.00</td>
                            <td data-purchase="lowest bid">$1,400.00</td>
                            <td data-purchase="expires">7/2/2020</td>
                        </tr>
                        <tr>
                            <td data-purchase="item">2018 Hyundai Sonata</td>
                            <td data-purchase="bid price">$1,775.00</td>
                            <td data-purchase="highest bid">$1,775.00</td>
                            <td data-purchase="lowest bid">$1,400.00</td>
                            <td data-purchase="expires">7/2/2020</td>
                        </tr>
                        <tr>
                            <td data-purchase="item">2018 Hyundai Sonata</td>
                            <td data-purchase="bid price">$1,775.00</td>
                            <td data-purchase="highest bid">$1,775.00</td>
                            <td data-purchase="lowest bid">$1,400.00</td>
                            <td data-purchase="expires">7/2/2020</td>
                        </tr>
                        <tr>
                            <td data-purchase="item">2018 Hyundai Sonata</td>
                            <td data-purchase="bid price">$1,775.00</td>
                            <td data-purchase="highest bid">$1,775.00</td>
                            <td data-purchase="lowest bid">$1,400.00</td>
                            <td data-purchase="expires">7/2/2020</td>
                        </tr>
                        <tr>
                            <td data-purchase="item">2018 Hyundai Sonata</td>
                            <td data-purchase="bid price">$1,775.00</td>
                            <td data-purchase="highest bid">$1,775.00</td>
                            <td data-purchase="lowest bid">$1,400.00</td>
                            <td data-purchase="expires">7/2/2020</td>
                        </tr>
                        <tr>
                            <td data-purchase="item">2018 Hyundai Sonata</td>
                            <td data-purchase="bid price">$1,775.00</td>
                            <td data-purchase="highest bid">$1,775.00</td>
                            <td data-purchase="lowest bid">$1,400.00</td>
                            <td data-purchase="expires">7/2/2020</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
