﻿
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="cart-sidebar-area">
    <div class="top-content">
        <a href="index.html" class="logo">
            <img src="~/Assets/assets/images/logo/logo2.png" alt="logo">
        </a>
        <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
    </div>
    <div class="bottom-content">
        <div class="cart-products">
            <h4 class="title">Shopping cart</h4>
            <div class="single-product-item">
                <div class="thumb">
                    <a href="#0"><img src="~/Assets/assets/images/shop/shop01.jpg" alt="shop"></a>
                </div>
                <div class="content">
                    <h4 class="title"><a href="#0">Color Pencil</a></h4>
                    <div class="price"><span class="pprice">$80.00</span> <del class="dprice">$120.00</del></div>
                    <a href="#" class="remove-cart">Remove</a>
                </div>
            </div>

            <div class="btn-wrapper text-center">
                <a href="#0" class="custom-button"><span>Checkout</span></a>
            </div>
        </div>
    </div>
</div>

<div class="hero-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li>
                <span>Add product auction</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="https://localhost:44300/Assets/assets/images/banner/hero-bg.png" style="        background-image: url(&quot;https://localhost:44300/Assets/assets/images/banner/hero-bg.png&quot;);"></div>
</div>



<section class="contact-section padding-bottom">
    <div class="container">
        <div class="contact-wrapper padding-top padding-bottom mt--100 mt-lg--440">
            <div class="section-header">
                <h5 class="cate">Create a new auction</h5>
                
                <p>Please fill it out completely information about your product.</p>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    @using (Html.BeginForm("AddProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @Class = "contact-form", @Id = "contact_form" }))
                    {

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="fab fa-product-hunt"></i></label>
                                    <input type="text" name="proName" placeholder="Tên sản phẩm..">
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group ">
                                    <label><i class="fas fa-ethernet"></i></label>
                                    <input type="text" name="origin" placeholder="Nơi sản xuất.." />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="far fa-money-bill-alt"></i></label>
                                    <input type="number" name="originalPrice" placeholder="Giá gốc sản phẩm..">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="fas fa-money-check-alt"></i></label>
                                    <input type="number" name="priceStep" placeholder="Bước giá sản phẩm..">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="fas fa-money-bill-wave"></i></label>
                                    <input type="number" name="purchasingPrice" placeholder="Giá mua ngay..">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="fas fa-hand-holding-usd"></i></label>
                                    <input type="number" placeholder="Giá khởi điểm" name="startingprice">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label><i class="far fa-images"></i></label>
                                    <input type="file" placeholder="chon anh" name="file">
                                </div>
                            </div>
                           
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom:10px">
                                <label>Thời gian bắt đầu:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="fas fa-calendar-alt"></i></label>
                                    <input type="date" name="datestart">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="far fa-clock"></i></label>
                                    <input type="time" name="timestart" class="form-control">
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom:10px">
                                <label>Thời gian kết thúc:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="fas fa-calendar-alt"></i></label>
                                    <input type="date" name="dateend" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="fas fa-stopwatch"></i></label>
                                    <input type="time" name="timeend" class="form-control">
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-md-12" style="margin-bottom:10px">
                                <label>Loại sản phẩm:</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="message" style="margin-top:15px;"><i class="far fa-envelope"></i></label>
                                    <select id="message" name="categoryid" style="padding: 5px 50px 0;height: 60px;border-bottom: 1px solid #bccaea !important;border:0px">
                                        @foreach (var cate in ViewBag.Category)
                                        {
                                            <option value="@cate.ID">@cate.CateName</option>

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">


                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label><i class="fas fa-pen-square"></i></label><br />
                                    <div id="toolbar-container" style="margin-top:35px;"></div>
                                    <div id="editor" style="height: 250px;border: 1px solid #80808047;">
                                        Mô tả sản phẩm
                                    </div>
                                    <input type="hidden" id="description" name="description" />
                                </div>
                            </div>

                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom:10px">
                                <label>Thông số và nhãn hiệu:</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="message" style="margin-top:15px;"><i class="far fa-envelope"></i></label>
                                    <select name="type_id" id="type_id1" style="padding: 5px 50px 0;height: 60px;border-bottom: 1px solid #bccaea !important;border:0px">
                                        @foreach (var type in ViewBag.TypePro)
                                        {
                                            <option value="@type.ID">@type.TypeProName</option>

                                        }
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row" id="all_param">
                        </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="custom-button">Add Product</button>
                            </div>
                    }
                </div>
                <div class="col-xl-4 col-lg-5 d-lg-block d-none">
                    <img src="~/Assets/assets/images/banner/banner-1.png" class="w-100" alt="images">
                </div>
            </div>
        </div>
    </div>
</section>




@section scripts {
    <script src="~/Content/ckeditor5/ckeditor.js"></script>
    <script>
        var valiFrm;

        function SelectParam() {
            var _typeid = $("#type_id1").val();
            $.ajax({
                method: 'GET',
                url: '../../Home/GetPramByID?type_id='+_typeid,
                success: function (res) {
                    $("#all_param").html(res);
                }
            })
        }

         $(function () {
                    var sss = '@TempData["Success"]';
                    var err = '@TempData["Errors"]';
                    console.log(sss);
             if (sss != '') {
                 alert(sss);
                    swal(sss, "Hãy xác nhận để tiếp tục!", "success");
                    }
             if (err != '') {
                 alert(err);
                    swal(err, "...and here's the text!");
             }
             $("select").change(SelectParam);
             SelectParam();

             valiFrm = $("#contact_form").validate({
                 rules: {
                     proName: 'required',
                     origin: 'required',
                     timestart:'required',
                     originalPrice:'required',
                     priceStep:'required',
                     purchasingPrice:'required',
                     file:'required',
                     startingprice: 'required',

                     datestart: 'required',
                     dateend: 'required',
                     timeend: 'required',

                 }, messages: {
                     proName: {
                         required: 'Tên sản phẩm không được để trống...'
                     },
                     origin: {
                         required: 'Nơi sản xuất không được để trống...'
                     },
                     timestart: {
                         required: 'Thời gian không được để trống...'
                     },
                     originalPrice: {
                         required: 'Giá gốc sản phẩm không được để trống...'
                     },
                     priceStep: {
                         required: 'Bước giá sản phẩm không được để trống...'
                     },
                     purchasingPrice: {
                         required: 'Giá mua ngay không được để trống...'
                     },
                     file: {
                         required: 'Vui lòng chọn ảnh sản phẩm...'
                     },                     
                     startingprice: {
                         required: 'Giá khởi điểm không được để trống...'
                     },
                     datestart: {
                         required: 'Ngày bắt đầu không được để trống...'
                     },
                     dateend: {
                         required: 'Ngày kết thúc không được để trống...'
                     },
                     timeend: {
                         required: 'Thời gian kết thúc không được để trống...'
                     },
                 }
             })
         })

    </script>
    <script>
        DecoupledEditor
            .create(document.querySelector('#editor'))
            .then(editor => {

                editor.model.document.on('change:data', () => {
                    $("#description").val(editor.getData());
                });

                const toolbarContainer = document.querySelector('#toolbar-container');

                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            })
            .catch(error => {
                console.error(error);
            });

    </script>


}

