﻿
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="cart-sidebar-area">
    <div class="top-content">
        <a href="index.html" class="logo">
            <img src="~/Assets/assets/images/logo/logo2.png" alt="logo">
        </a>
        <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
    </div>
    <div class="bottom-content">
        <div class="cart-products">
            <h4 class="title">Shopping cart</h4>
            <div class="single-product-item">
                <div class="thumb">
                    <a href="#0"><img src="~/Assets/assets/images/shop/shop01.jpg" alt="shop"></a>
                </div>
                <div class="content">
                    <h4 class="title"><a href="#0">Color Pencil</a></h4>
                    <div class="price"><span class="pprice">$80.00</span> <del class="dprice">$120.00</del></div>
                    <a href="#" class="remove-cart">Remove</a>
                </div>
            </div>

            <div class="btn-wrapper text-center">
                <a href="#0" class="custom-button"><span>Checkout</span></a>
            </div>
        </div>
    </div>
</div>

<div class="hero-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <span>Contact Us</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="https://localhost:44300/Assets/assets/images/banner/hero-bg.png" style="        background-image: url(&quot;https://localhost:44300/Assets/assets/images/banner/hero-bg.png&quot;);"></div>
</div>



<section class="contact-section padding-bottom">
    <div class="container">
        <div class="contact-wrapper padding-top padding-bottom mt--100 mt-lg--440">
            <div class="section-header">
                <h5 class="cate">Create a new auction</h5>

                <p>Please fill it out completely information about your product.</p>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    @using (Html.BeginForm("EditProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @Class = "contact-form", @Id = "contact_form" }))
                    {
                        <input type="hidden" name="id" value="@ViewBag.Data.ID" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="fab fa-product-hunt"></i></label>
                                    <input type="text" name="proName" value="@ViewBag.Data.ProName" placeholder="Tên sản phẩm..">
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group ">
                                    <label><i class="fas fa-ethernet"></i></label>
                                    <input type="text" name="origin" value="@ViewBag.Data.Origin" placeholder="Nơi sản xuất.." />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="far fa-money-bill-alt"></i></label>
                                    <input type="number" name="originalPrice" value="@ViewBag.Data.OriginalPrice" placeholder="Giá gốc sản phẩm..">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="fas fa-money-check-alt"></i></label>
                                    <input type="number" name="priceStep" value="@ViewBag.Data.PriceStep" placeholder="Bước giá sản phẩm..">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="fas fa-money-bill-wave"></i></label>
                                    <input type="number" name="purchasingPrice" value="@ViewBag.Data.PurchasingPrice" placeholder="Giá mua ngay..">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label><i class="fas fa-hand-holding-usd"></i></label>
                                    <input type="number" placeholder="Giá khởi điểm" value="@ViewBag.Data.StartingPrice" name="startingprice">
                                </div>
                            </div>
                        </div>
                       
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label><i class="fas fa-pen-square"></i></label><br />
                                    <div id="toolbar-container" style="margin-top:35px;"></div>
                                    <div id="editor" style="height: 250px;border: 1px solid #80808047;">
                                        Mô tả sản phẩm
                                    </div>
                                    <input type="hidden" id="description" value="@ViewBag.Data.Description" name="description" />
                                </div>
                            </div>

                        </div>
                        <hr />

                        <div class="form-group mb-0">
                            <button type="submit" class="custom-button">Edit Product</button>
                        </div>



                    }
                </div>
                <div class="col-xl-4 col-lg-5 d-lg-block d-none">
                    <img src="@ViewBag.Data.Image" class="w-100" alt="images">
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Content/ckeditor5/ckeditor.js"></script>

    <script>
        DecoupledEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                editor.setData($("#description").val());
                editor.model.document.on('change:data', () => {
                    $("#description").val(editor.getData());
                });

                const toolbarContainer = document.querySelector('#toolbar-container');

                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            })
            .catch(error => {
                console.error(error);
            });

    </script>

}


