﻿@using PagedList;
@using PagedList.Mvc;
@using SalesMenClient.Models.Entity
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="cart-sidebar-area">
    <div class="top-content">
        <a href="index.html" class="logo">
            <img src="~/Assets/assets/images/logo/logo2.png" alt="logo">
        </a>
        <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
    </div>
    <div class="bottom-content">

    </div>
</div>

<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="https://localhost:44300/Assets/assets/images/banner/hero-bg.png" style="        background-image: url(&quot;https://localhost:44300/Assets/assets/images/banner/hero-bg.png&quot;);"></div>
</div>

<section class="dashboard-section padding-bottom mt--240 mt-lg--440 pos-rel">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-7 col-lg-4">
                <div class="dashboard-widget mb-30 mb-lg-0 sticky-menu">
                    <div class="user">
                        <div class="thumb-area">
                            <div class="thumb">
                                <img src="~/Assets/assets/images/dashboard/user.png" alt="user">
                            </div>
                            <label for="profile-pic" class="profile-pic-edit"><i class="flaticon-pencil"></i></label>
                            <input type="file" id="profile-pic" class="d-none">
                        </div>
                        <div class="content">
                            <h5 class="title"><a href="#0">@((Session["loginSaleman"] as SalesMan).FullName)</a></h5>
                            <span class="username">@((Session["loginSaleman"] as SalesMan).Email)</span>
                        </div>
                    </div>
                    <ul class="dashboard-menu">
                        <li>
                            <a href="javascript:void(0)" onclick="Dasboarh()"><i class="flaticon-dashboard"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="Profile(@((Session["loginSaleman"] as SalesMan).ID))"><i class="flaticon-settings"></i>Personal Profile </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="MyBils(@((Session["loginSaleman"] as SalesMan).ID))"><i class="flaticon-auction"></i>My Bids</a>
                        </li>
                        <li>
                            <a href="@Url.Action("MyOrder",new { id =  (Session["loginSaleman"] as SalesMan).ID })"><i class="flaticon-auction"></i>My Order</a>
                        </li>
                        <li>
                            <a href="@Url.Action("AddProduct","Home",new {id = (Session["loginSaleman"] as SalesMan).ID })"><i class="flaticon-shake-hand"></i>Create a new auction</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout","Home")"><i class="fas fa-sign-out-alt" style="font-weight:0 !important;"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class=" col-lg-8" id="content-saleman">
                <div class="dashboard-widget mb-40">
                    <div class="dashboard-title mb-30">
                        <h5 class="title">My Activity</h5>
                    </div>
                    <div class="row justify-content-center mb-30-none">
                        <div class="col-md-6 col-sm-6">
                            <div class="dashboard-item">
                                <div class="thumb">
                                    <img src="~/Assets/assets/images/dashboard/01.png" alt="dashboard">
                                </div>
                                <div class="content">
                                    <h2 class="title"><span class="counter">@ViewBag.ProUpcomming</span></h2>
                                    <h6 class="info">Active Product Auction</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="dashboard-item">
                                <div class="thumb">
                                    <img src="~/Assets/assets/images/dashboard/02.png" alt="dashboard">
                                </div>
                                <div class="content">
                                    <h2 class="title"><span class="counter">@ViewBag.OrderSt</span></h2>
                                    <h6 class="info">Orders waiting for delivery</h6>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="dashboard-widget">
                    <h5 class="title mb-10">Dashboard</h5>
                    <div class="dashboard-purchasing-tabs">
                        <ul class="nav-tabs nav">
                            <li>
                                <a href="#current" class="active" data-toggle="tab">Auction</a>
                            </li>
                            <li>
                                <a href="#pending" data-toggle="tab">My Order</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active fade" id="current">
                                <table class="purchasing-table">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Customer name</th>
                                            <th>Bid</th>

                                            <th>Expires</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itemAu in ViewBag.AutionAll)
                                        {
                                            <tr>
                                                <td data-purchase="item"><a style="color:#000;" href="@Url.Action("Detail","ProductAution",new { id= itemAu.ProductAuction.ID})">@itemAu.ProductAuction.ID</a> </td>
                                                <td data-purchase="highest bid">@itemAu.Customer.FullName</td>
                                                <td data-purchase="bid price">$@Convert.ToDecimal(itemAu.Price).ToString("#,##0.0")</td>
                                                <td data-purchase="expires">@itemAu.Created</td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane show fade" id="pending">
                                <table class="purchasing-table">
                                    <thead>
                                        <tr>
                                            <th>Order</th>
                                            <th>Product</th>
                                            <th>Total Price</th>
                                            <th>Status</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var order in ViewBag.OrderAll)
                                        {
                                            <tr>
                                                <td data-purchase="item">@order.Order.ID</td>
                                                <td data-purchase="bid price">@order.ProductAuction.ID</td>
                                                <td data-purchase="highest bid">$@Convert.ToDecimal(order.Order.TotalPrice).ToString("#,##0.0")</td>
                                                @{
                                                    Order od = new Order();
                                                    var st_value = od.OrderSt(order.Order.status);
                                                    var st_class = od.OrderStClass(order.Order.status);
                                                }
                                                <td data-purchase="lowest bid"><span class="@st_class">@st_value</span></td>
                                               
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    @Html.PagedListPager((IPagedList)ViewBag.OrderAll, page => Url.Action("Index", new { id = (Session["loginSaleman"] as SalesMan).ID, page }))
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script>

         $(function () {
                    var sss = '@TempData["Success"]';
                    var err = '@TempData["Errors"]';
                    console.log(sss);
             if (sss != '') {
                
                    swal(sss, "Hãy xác nhận để tiếp tục!", "success");
                    }
             if (err != '') {
                 
                    swal(err, "...and here's the text!");
             }

         })
        function MyBils(id) {
            $.ajax({
                type: 'GET',
                url: 'Home/MyBids/' + id,
                success: function (res) {
                    $("#content-saleman").html(res);
                }
            })
        }
        function MyOrder(id) {
            $.ajax({
                type: 'GET',
                url: 'Home/MyOrder/' + id,
                success: function (res) {
                    $("#content-saleman").html(res);
                }
            })
        }
        function Profile(id) {
            $.ajax({
                type: 'GET',
                url: 'Home/PersonalProfile/' + id,
                success: function (res) {
                    $("#content-saleman").html(res);
                }
            })
        }
        function Dasboarh() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Index","Home")',
                success: function () {
                    location.reload();
                }
            })
        }
    </script>
}