﻿@using SalesMenClient.Models.Entity

<div class="dash-bid-item dashboard-widget mb-40-60">
    <div class="header">
        <h4 class="title">My Bids</h4>
       
    </div>
    <ul class="button-area nav nav-tabs">
        <li>
            <a href="#upcoming" data-toggle="tab" class="custom-button active">Active</a>
        </li>
        <li>
            <a href="#past" data-toggle="tab" class="custom-button">End</a>
        </li>
        <li>
            <a href="#past2" data-toggle="tab" class="custom-button">Upcoming</a>
        </li>

    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane fade active show" id="upcoming">
        <div class="row mb-30-none justify-content-center">
            @foreach (var proAu in ViewBag.ProUpcomming)
            {
                <div class="col-sm-10 col-md-6">
                    <div class="auction-item-2">
                        <div class="auction-thumb">
                            @* ~/Assets/assets/images/auction/car/auction-1.jpg*@
                            @if (proAu.Image == null)
                            {
                                <a href="@Url.Action("Detail","ProductAution",new { id=proAu.ID })"><img src="~/Assets/assets/images/auction/car/auction-1.jpg" style="height:200px;" alt="car"></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Detail","ProductAution",new { id=proAu.ID })"><img src="@proAu.Image" style="height:200px;" alt="car"></a>
                            }
                            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="@Url.Action("Detail","ProductAution",new { id=proAu.ID })">@proAu.ProName</a>
                            </h6>
                            <div class="bid-area">
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-auction"></i>
                                    </div>
                                    @{
                                        Auction a = new Auction();
                                        var dataAuction = a.AucPriceDESC(proAu.ID);
                                        var countAuction = a.AuctionGetProductID(proAu.ID);


                                    }
                                    <div class="amount-content">
                                        <div class="current">Current Bid</div>
                                        @if (dataAuction != null)
                                        {
                                            <div class="amount">@dataAuction.Price</div>

                                        }
                                        else
                                        {
                                            <div class="amount">@proAu.StartingPrice</div>
                                        }
                                    </div>
                                </div>
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-money"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Buy Now</div>
                                        <div class="amount">@proAu.PurchasingPrice</div>
                                    </div>
                                </div>
                            </div>
                            <div class="countdown-area">
                                <div class="countdown">
                                    <div id="demo_@proAu.ID"></div>
                                    <script>

                                    // Set the date we're counting down to
                                    var countDownDate_@proAu.ID = new Date("@proAu.EndDateTime").getTime();

                                    // Update the count down every 1 second
                                    var x_@proAu.ID = setInterval(function () {

                                        // Get today's date and time
                                        var now_@proAu.ID = new Date().getTime();

                                        // Find the distance between now and the count down date
                                        var distance_@proAu.ID = countDownDate_@proAu.ID - now_@proAu.ID;

                                        // Time calculations for days, hours, minutes and seconds
                                        var days_@proAu.ID = Math.floor(distance_@proAu.ID / (1000 * 60 * 60 * 24));
                                        var hours_@proAu.ID = Math.floor((distance_@proAu.ID % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes_@proAu.ID = Math.floor((distance_@proAu.ID % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds_@proAu.ID = Math.floor((distance_@proAu.ID % (1000 * 60)) / 1000);

                                        // Display the result in the element with id="demo"
                                        document.getElementById("demo_@proAu.ID").innerHTML = days_@proAu.ID + "d " + hours_@proAu.ID + "h "
                                            + minutes_@proAu.ID + "m " + seconds_@proAu.ID + "s ";

                                        // If the count down is finished, write some text
                                        if (distance_@proAu.ID < 0) {
                                            clearInterval(x_@proAu.ID);
                                            docuproAuAuent.getElementById("demo_@proAu.ID").innerHTML = "EXPIRED";
                                        }
                                    }, 1000);
                                    </script>

                                </div>

                                <span class="total-bids">@countAuction Bids</span>


                            </div>
                            @*<div class="text-center">
                                <a href="#0" class="custom-button">Submit a bid</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="tab-pane fade" id="past">
        <div class="row justify-content-center mb-30-none">
            @foreach (var proPas in ViewBag.ProductPass)
            {
                <div class="col-sm-10 col-md-6">
                    <div class="auction-item-2">
                        <div class="auction-thumb">
                            @if (proPas.Image == null)
                            {
                                <a href="@Url.Action("Detail","ProductAution",new { id=proPas.ID })"><img src="~/Assets/assets/images/auction/car/auction-1.jpg" style="height:200px;" alt="car"></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Detail","ProductAution",new { id=proPas.ID })"><img src="@proPas.Image" style="height:200px;" alt="car"></a>
                            }
                            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="@Url.Action("Detail","ProductAution",new { id=proPas.ID })">@proPas.ProName</a>
                            </h6>
                            <div class="bid-area">
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-auction"></i>
                                    </div>
                                    @{
                                        Auction a = new Auction();
                                        var dataAuction = a.AucPriceDESC(proPas.ID);
                                        var countAuction = a.AuctionGetProductID(proPas.ID);
                                    }
                                    <div class="amount-content">
                                        <div class="current">Current Bid</div>
                                        @if (dataAuction != null)
                                        {
                                            <div class="amount">@dataAuction.Price</div>

                                        }
                                        else
                                        {
                                            <div class="amount">@proPas.StartingPrice</div>
                                        }
                                    </div>
                                </div>
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-money"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Buy Now</div>
                                        <div class="amount">@proPas.PurchasingPrice</div>
                                    </div>
                                </div>
                            </div>
                            <div class="countdown-area">
                                <div class="countdown">
                                    <div id="demo_@proPas.ID"></div>

                                    <script>
                                        // Set the date we're counting down to
                                        var countDownDate_@proPas.ID = new Date("@proPas.EndDateTime").getTime();

                                        // Update the count down every 1 second
                                        var x_@proPas.ID = setInterval(function () {

                                            // Get today's date and time
                                            var now_@proPas.ID = new Date().getTime();

                                            // Find the distance between now and the count down date
                                            var distance_@proPas.ID = countDownDate_@proPas.ID - now_@proPas.ID;

                                            // Time calculations for days, hours, minutes and seconds
                                            var days_@proPas.ID = Math.floor(distance_@proPas.ID / (1000 * 60 * 60 * 24));
                                            var hours_@proPas.ID = Math.floor((distance_@proPas.ID % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                            var minutes_@proPas.ID = Math.floor((distance_@proPas.ID % (1000 * 60 * 60)) / (1000 * 60));
                                            var seconds_@proPas.ID = Math.floor((distance_@proPas.ID % (1000 * 60)) / 1000);

                                            // Output the result in an element with id="demo"
                                            document.getElementById("demo_@proPas.ID").innerHTML = days_@proPas.ID + "d " + hours_@proPas.ID + "h "
                                                + minutes_@proPas.ID + "m " + seconds_@proPas.ID + "s ";

                                            // If the count down is over, write some text
                                            if (distance_@proPas.ID < 0) {
                                                clearInterval(x_@proPas.ID);
                                                document.getElementById("demo_@proPas.ID").innerHTML = "Đã Kêt Thúc";
                                            }
                                        }, 1000);
                                    </script>

                                </div>
                                <span class="total-bids">@countAuction Bids</span>
                            </div>
                            <div class="text-center">
                                @*  <a href="#0" class="custom-button">Submit a bid</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
    <div class="tab-pane fade" id="past2">
        <div class="row justify-content-center mb-30-none">
            @foreach (var proPas in ViewBag.ProUpcoming)
            {
                <div class="col-sm-10 col-md-6">
                    <div class="auction-item-2">
                        <div class="auction-thumb">
                            @if (proPas.Image == null)
                            {
                                <a href="@Url.Action("Detail","ProductAution",new { id=proPas.ID })"><img src="~/Assets/assets/images/auction/car/auction-1.jpg" style="height:200px;" alt="car"></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Detail","ProductAution",new { id=proPas.ID })"><img src="@proPas.Image" style="height:200px;" alt="car"></a>

                            }
                  
                            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="@Url.Action("Detail","ProductAution",new { id=proPas.ID })">@proPas.ProName</a>
                            </h6>
                            <div class="bid-area">
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-auction"></i>
                                    </div>
                                    @{
                                        Auction a = new Auction();
                                        var dataAuction = a.AucPriceDESC(proPas.ID);
                                        var countAuction = a.AuctionGetProductID(proPas.ID);
                                    }
                                    <div class="amount-content">
                                        <div class="current">Current Bid</div>
                                        @if (dataAuction != null)
                                        {
                                            <div class="amount">@dataAuction.Price</div>

                                        }
                                        else
                                        {
                                            <div class="amount">@proPas.StartingPrice</div>
                                        }
                                    </div>
                                </div>
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-money"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Buy Now</div>
                                        <div class="amount">@proPas.PurchasingPrice</div>
                                    </div>
                                </div>
                            </div>
                            <div class="countdown-area">
                                <div class="countdown">
                                    <div id="demo_@proPas.ID"> </div>

                                    <script>
                                        // Set the date we're counting down to
                                        var countDownDate_@proPas.ID = new Date("@proPas.StartDateTime").getTime();

                                        // Update the count down every 1 second
                                        var x_@proPas.ID = setInterval(function () {

                                            // Get today's date and time
                                            var now_@proPas.ID = new Date().getTime();

                                            // Find the distance between now and the count down date
                                            var distance_@proPas.ID = countDownDate_@proPas.ID - now_@proPas.ID;

                                            // Time calculations for days, hours, minutes and seconds
                                            var days_@proPas.ID = Math.floor(distance_@proPas.ID / (1000 * 60 * 60 * 24));
                                            var hours_@proPas.ID = Math.floor((distance_@proPas.ID % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                            var minutes_@proPas.ID = Math.floor((distance_@proPas.ID % (1000 * 60 * 60)) / (1000 * 60));
                                            var seconds_@proPas.ID = Math.floor((distance_@proPas.ID % (1000 * 60)) / 1000);

                                            // Output the result in an element with id="demo"
                                            document.getElementById("demo_@proPas.ID").innerHTML = days_@proPas.ID + "d " + hours_@proPas.ID + "h "
                                                + minutes_@proPas.ID + "m " + seconds_@proPas.ID + "s ";

                                            // If the count down is over, write some text
                                            if (distance_@proPas.ID < 0) {
                                                clearInterval(x_@proPas.ID);
                                                document.getElementById("demo_@proPas.ID").innerHTML = "Đã Kêt Thúc";
                                            }
                                        }, 1000);
                                    </script>

                                </div>
                                <span class="total-bids">Sắp diễn ra</span>
                            </div>
                            <div class="text-center">
                                @*  <a href="#0" class="custom-button">Submit a bid</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>

</div>



