﻿
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Category: @ViewBag.EditCate.CateName</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("UpdateCate", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="modal-body">
            <input type="hidden" name="id" value="@ViewBag.EditCate.ID" />
            <div class="form-group">
                <label>Category name:</label>
                <input type="text" name="cateName" class="form-control" value="@ViewBag.EditCate.CateName">
            </div>     
            <div class="form-group">
                <label>Status:</label>
                <select class="form-control" name="status">                   
                    @if (ViewBag.EditCate.Status == 1)
                    {<option value="1" selected>Show</option>}
                    else{<option value="1">Show</option>}
                    @if (ViewBag.EditCate.Status == 0)
                    {<option value="0" selected>Hidden</option>}
                    else{<option value="0">Hidden</option>}
                </select>
            </div>      
            <div class="form-group">
                <label>Description:</label>
                <textarea type="text" name="desription" class="form-control">@ViewBag.EditCate.Description</textarea>
            </div>
      
            <div class="form-group">
                <label>Image Cctegory:</label><br />
                <img src="@ViewBag.EditCate.Image" width="100" />
                <input type="file" name="file" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
        }
    </div>
</div>