﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<AdminOnlineAuction.Models.Entity.Category>

@{
    ViewBag.Title = "Categories Manager";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Categories Manager </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Categories Manager </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="col-md-1 mb-3">

    <button type="button" class="btn btn-block btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">
        Add New
    </button>
    <!-- /.card -->
</div>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List Categories</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Category name</th>
                        <th>Image</th>
                        <th>Date created</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@{i++;} @i</td>
                            <td>@Html.DisplayFor(modelItem => item.CateName)</td>
                            <td><img src="@Html.DisplayFor(modelItem => item.Image)" width="50" /> </td>
                            <td>@Html.DisplayFor(modelItem => item.Created)</td>
                            <td>
                                @if (item.Status == 1)
                                {
                                    <p class="badge badge-success">Show</p>
                                }
                                else
                                {
                                    <p class="badge badge-danger">Hidden</p>
                                }

                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm" onclick="DetailCate(@item.ID)" type="button" data-toggle="modal" data-target="#exampleModal2"><i class="fas fa-folder"></i>Details</button>
                                <button onclick="EditCate(@item.ID)" class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#exampleModal1"><i class="fas fa-pencil-alt"></i>Edit</button>
                               @* <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Category", new { id = item.ID })"><i class="fas fa-trash"></i>Delete</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer clearfix">
           
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddCate", "Category", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formAdd" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Category name:</label>
                        <input type="text" id="cateName1" name="cateName" class="form-control" placeholder="Enter category name">
                    </div>

                    <div class="form-group">
                        <label>Description:</label>
                        <textarea type="text" id="desription1" name="desription" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Image ctegory:</label>
                        <input type="file" id="file1" name="file" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Save</button>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            }
        </div>
    </div>
</div>
@*edit*@
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Category:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("UpdateCate", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">

                    <label>Tên Danh Mục:</label>
                    <input type="text" name="cateName" class="form-control">
                    <label>Mô Tả:</label>
                    <textarea type="text" name="desription" class="form-control"></textarea>
                    <label>Ảnh Danh Mục:</label>
                    <input type="file" name="file" class="form-control">

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary ">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h3 class="text-primary"><i class="fas fa-paint-brush"></i> AdminLTE v3</h3>
                <p class="text-muted">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
                <br>
                <div class="text-muted">
                    <p class="text-sm">
                        Client Company
                        <b class="d-block">Deveint Inc</b>
                    </p>
                    <p class="text-sm">
                        Project Leader
                        <b class="d-block">Tony Chicken</b>
                    </p>
                </div>

                <h5 class="mt-5 text-muted">Project files</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
                    </li>
                    <li>
                        <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                    </li>
                    <li>
                        <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Email-from-flatbal.mln</a>
                    </li>
                    <li>
                        <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
                    </li>
                    <li>
                        <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
                    </li>
                </ul>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>

        </div>
    </div>
</div>

@section scripts {
    
    <script>
        $(function () {
            var sss = '@TempData["Success"]';
            var err = '@TempData["errors"]';

            if (sss != '') {
                swal(sss, "Please confirm to continue!", "success");
            }
            if (err != '') {
                swal(err, "...and here's the text!");
            };

            validFrm = $("#formAdd").validate({
                rules: {
                    cateName: 'required',
                    desription: 'required',
                    file: 'required',
                    
                },
                messages: {
                    cateName: {
                        required: 'Tên danh mục không được để trống..'
                    },
                    desription: {
                        required: 'Mô tả không được để trống..'
                    },
                    file: {
                        required: 'Vui lòng chọn ảnh..'
                    },
                    
                },

            })
        });
        function EditCate(id) {
            $.ajax({
                type: 'GET',
                url: 'Category/EditCate?id=' + id,
                success: function (res) {
                    $("#exampleModal1").html(res);
                }
            })


        };

        function DetailCate(id) {
            $.ajax({
                type: 'GET',
                url: 'Category/Details/' + id,
                success: function (res) {
                    $("#exampleModal2").html(res);
                }
            })
        }
    </script>


}
