﻿@using SalesMenClient.Models.Entity;
<div class="modal-header">
    <h4 class="modal-title">Detail Order</h4>
</div>
<div class="modal-body">
    <h3 class="text-primary"><i class="fas fa-info-circle" style="margin-right:15px">  </i> @ViewBag.Detail.ID</h3>
    <h5 class="mt-5 text-muted">Info:</h5>
    <table class="table table-striped projects">
        <tr>
            <td>Status:</td>
            @{
                Order order = new Order();
                var status_vl = order.OrderSt(ViewBag.Detail.status);
                var status_class = order.OrderStClass(ViewBag.Detail.status);
            }
            <td>

                <p class="@status_class">@status_vl</p>
            </td>
        </tr>
        <tr>
            <td>Date Created:</td>
            <td>@ViewBag.Detail.Created</td>
        </tr>
        @if (ViewBag.Detail.status == 0)
        {
            <tr>
                <td>Order creation end time:</td>
                <td>@ViewBag.Detail.EndDateTime</td>
            </tr>
        }

        <tr>
            <td>Auction:</td>
            <td>@ViewBag.Detail.AutionID</td>
        </tr>
        <tr>
            <td>Auction fees:</td>
            <td>$@Convert.ToDecimal(ViewBag.Detail.AuctionFees).ToString("#,##0.0")</td>
        </tr>
        <tr>
            <td>Money received:</td>
            <td>$@Convert.ToDecimal(ViewBag.Detail.MoneyReceived).ToString("#,##0.0")</td>
        </tr>
        <tr>
            <td>Total price:</td>
            <td>$@Convert.ToDecimal(ViewBag.Detail.TotalPrice).ToString("#,##0.0")</td>
        </tr>


    </table>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

</div>

