﻿@using AdminOnlineAuction.Models.Entity

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/Assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link href="~/Assets/dist/css/adminlte.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/Assets/dist/css/adminlte.min.css">*@
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Assets/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Assets/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .error {
            color: red !important;
           
        }
    </style>


</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
              
            </ul>

            <!-- SEARCH FORM -->
          
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <!-- Notifications Dropdown Menu -->

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/Assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">AdminLTE 3</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        @if (Session["loginAdmin"] != null)
                        {
                        <a href="@Url.Action("Logout","Home")" class="d-block">@((Session["loginAdmin"] as User).Email)</a>
                        }

                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item ">
                            <a href="@Url.Action("Index","Home")" class="nav-link "><i class="nav-icon fas fa-tachometer-alt"></i><p>Home</p></a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Category")" class="nav-link"><i class="nav-icon fas fa-th"></i><p>Category management</p></a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link"><i class="nav-icon fas fa-copy"></i><p>Website management<i class="fas fa-angle-left right"></i></p></a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Support")" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Customer Support</p></a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","UserManuals")" class="nav-link"><i class="far fa-circle nav-icon"></i><p>User Manual</p></a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","TypeBanner")" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Type Banner</p></a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Banner")" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Banner</p></a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Feedback")" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Feedback</p></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link"><i class="nav-icon fas fa-chart-pie"></i><p>Product management<i class="right fas fa-angle-left"></i></p></a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","TypeProduct")" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Type product </p></a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Parameter")" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Parameter </p></a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Brand")" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Brand </p></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link"><i class="nav-icon fas fa-tree"></i><p>Auction management<i class="fas fa-angle-left right"></i></p></a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","ProductAuction")" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Auction product list</p></a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Order")" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Order list</p></a>
                                </li>
                                
                            </ul>
                        </li>
                        

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.0.4
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    @*<script src="~/Assets/plugins/chart.js/Chart.min.js"></script>*@
    <!-- Sparkline -->
    <script src="~/Assets/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    @*<script src="~/Assets/plugins/jqvmap/jquery.vmap.min.js"></script>*@
<@*script src="~/Assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>*@
    <!-- jQuery Knob Chart -->
    <script src="~/Assets/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Assets/plugins/moment/moment.min.js"></script>
    <script src="~/Assets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Assets/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
   @* <script src="~/Assets/dist/js/pages/dashboard.js"></script>*@
    <!-- AdminLTE for demo purposes -->
    <script src="~/Assets/dist/js/demo.js"></script>
    <script src="~/Assets/dist/js/sweetjs.js"></script>
    <script src="~/Assets/dist/js/jquery.validate.min.js"></script>






    @RenderSection("scripts", required: false)
</body>
</html>

