﻿@using AdminOnlineAuction.Models.Entity;
<div class="modal-header">
    <h4 class="modal-title">Detail Product</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <h3 class="text-primary"><i class="fas fa-info-circle" style="margin-right:10px">  </i>@ViewBag.Detail.ProName</h3>
    <div class="text-muted">
        <img src="@ViewBag.Detail.Image" width="150" />
    </div>
   
    <h5 class="mt-5 text-muted">Info:</h5>
    <table class="table table-striped projects">
        <tr>
            <td>Status:</td>
            @{
                ProductAuction proAu = new ProductAuction();
                var status_vl = proAu.ProAuStatus(ViewBag.Detail.Status);
                var status_class = proAu.ClassStatus(ViewBag.Detail.Status);
            }
            <td>

                <p class="@status_class">@status_vl</p>
            </td>
        </tr>
        <tr>
            <td>Date Created:</td>
            <td>@ViewBag.Detail.Created</td>
        </tr>
        <tr>
            <td>Start date time:</td>
            <td>@ViewBag.Detail.StartDateTime</td>
        </tr>
        <tr>
            <td>End date time:</td>
            <td>@ViewBag.Detail.EndDateTime</td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>@ViewBag.Detail.Category.CateName</td>
        </tr>
        <tr>
            <td>Brand:</td>
            <td>@ViewBag.Detail.Brand.BrandName</td>
        </tr>
        <tr>
            <td>Original Price:</td>
            <td>$@Convert.ToDecimal(ViewBag.Detail.OriginalPrice).ToString("#,##0.0")</td>
        </tr>
        <tr>
            <td>Price Step:</td>
            <td>$@Convert.ToDecimal(ViewBag.Detail.PriceStep).ToString("#,##0.0")</td>
        </tr>
        <tr>
            <td>Purchasing Price:</td>
            <td>$@Convert.ToDecimal(ViewBag.Detail.PurchasingPrice).ToString("#,##0.0")</td>
        </tr>
        <tr>
            <td>Salesman:</td>
            <td>@ViewBag.Detail.SalesMan.FullName</td>
        </tr>
        @if (ViewBag.Detail.Status == 2)
        {
            <tr>
                <td>Action:</td>
                <td> <a href="@Url.Action("CreateOrder","ProductAuction",new { proid = ViewBag.Detail.ID })" class="btn btn-info btn-sm mt-1">Xem danh sách đấu giá</a></td>
            </tr>


        }


    </table>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    
</div>
