﻿
@{
    ViewBag.Title = "CreateOrder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Auction</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Auction</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fas fa-info"></i> Note:</h5>
                    This is a list of auction participants.
                </div>


                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fas fa-globe"></i> @ViewBag.ProAuction.ProName.

                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <address>
                                <strong>Product Name:  @ViewBag.ProAuction.ProName </strong><br>
                                Start Date Time: @ViewBag.ProAuction.StartDateTime <br>
                                End Date Time: @ViewBag.ProAuction.EndDateTime <br>
                                Category:  @ViewBag.ProAuction.Category.CateName <br>

                            </address>
                        </div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>User Name</th>
                                        <th>Giờ đặt</th>
                                        <th>Số tiền</th>
                                        <th>Trạng thái</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 0;}
                                    @foreach (var auction in ViewBag.Auction)
                                    {
                                        <tr>
                                            <td>@{i++;} @i</td>
                                            <td>@auction.Customer.Email</td>
                                            <td>@auction.Created</td>
                                            <td>$@Convert.ToDecimal(auction.Price).ToString("#,##0.0")</td>
                                            @if (auction.Status == 1 || auction.Status == 3)
                                            {
                                                <td><p class="badge badge-success">Chiến thắng</p></td>
}
                                            else if (auction.Status == 2)
                                            {
                                                <td><p class="badge badge-danger">Thất bại</p></td>
}
                                            else
                                            {
                                                <td><p class="badge badge-primary">Đang chờ</p></td>
}
                                            <td>
                                                @if (auction.Status == null || auction.Status == 0)
                                                {
                                                    <a class="btn btn-primary" href="@Url.Action("CheckAuStatus","ProductAuction",new { auid = auction.ID,status = 1 })" style="color:#fff"><i class="fas fa-check" style="padding-right:5px"></i> xác nhận thắng</a>
                                                }
                                                else if (auction.Status == 1)
                                                {
                                                    <a class="btn btn-primary" href="@Url.Action("CreateOrders","ProductAuction",new { auid = auction.ID })" style="color:#fff">Tạo đơn</a>
                                                }
                                                else if (auction.Status == 2)
                                                {

                                                }
                                                else if (auction.Status == 3)
                                                {
                                                    <p class="badge badge-info">Tạo đơn thành công</p>
                                                    <p class="badge badge-info" onclick="DetailPro(@auction.ID)" type="button" data-toggle="modal" data-target="#modal-default">Check đơn</p>
                                                }

                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->


                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-detail" style="width:700px;">
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts {
    <script>
        function DetailPro(id) {
            $.ajax({
                type: 'GET',
                url: '../ProductAuction/CheckOrder/' + id,
                success: function (res) {
                    $("#modal-detail").html(res);
                }
            })
        }
    </script>

}

