﻿@using PagedList;
@using PagedList.Mvc;
@using AdminOnlineAuction.Models.Entity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product auction manager</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Product auction manager</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Product auction manager</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0 mt-3 mb-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <a href="@Url.Action("Index","ProductAuction")" class="btn btn-block btn-primary">All(@ViewBag.StatusAll)</a>
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("GetAction2","ProductAuction",new { status = 1 })" class="btn btn-block btn-info">Active(@ViewBag.Status1)</a>
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("GetAction2","ProductAuction",new { status = 2 })" class="btn btn-block btn-warning">End(@ViewBag.Status2)</a>
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("GetAction2","ProductAuction",new { status = 0 })" class="btn btn-block btn-secondary">Upcoming(@ViewBag.Status0)</a>
                    </div>
                    <div class="col-md-2">
                        @*<a href="@Url.Action("GetAction2","ProductAuction",new { status = 3 })" class="btn btn-block btn-success">Success(@ViewBag.Status3)</a>*@

                    </div>
                    <div class="col-md-2">
                        @*<a href="@Url.Action("GetAction2","ProductAuction",new { status = 4 })" class="btn btn-block btn-danger">Failure(@ViewBag.Status4)</a>*@

                    </div>
                    <div class="col-md-8">
                        @using (Html.BeginForm())
                        {
                            <label class="col-form-label" for="inputWarning">
                                <i class="far fa-bell"></i> search by product code
                            </label>
                            <div class="row">

                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <input type="hidden" name="status" value="@ViewBag.StatusPresent" />
                                                <input type="number" name="key" class="form-control is-warning" id="inputWarning" placeholder="Enter product code...">
                                            </div>
                                        </div>
                                        @{
                                            ProductAuction pro = new ProductAuction();
                                        }
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <select name="date" class="form-control">
                                                    <option value="0">-- Selection End Date Time--</option>
                                                    <option value="1" @pro.CheckSelected(ViewBag.Date, 1)>January</option>
                                                    <option value="2" @pro.CheckSelected(ViewBag.Date, 2)>February</option>
                                                    <option value="3" @pro.CheckSelected(ViewBag.Date, 3)>March</option>
                                                    <option value="4" @pro.CheckSelected(ViewBag.Date, 4)>April</option>
                                                    <option value="5" @pro.CheckSelected(ViewBag.Date, 5)>May</option>
                                                    <option value="6" @pro.CheckSelected(ViewBag.Date, 6)>June</option>
                                                    <option value="7" @pro.CheckSelected(ViewBag.Date, 7)>July</option>
                                                    <option value="8" @pro.CheckSelected(ViewBag.Date, 8)>August</option>
                                                    <option value="9" @pro.CheckSelected(ViewBag.Date, 9)>September</option>
                                                    <option value="10" @pro.CheckSelected(ViewBag.Date, 10)>October</option>
                                                    <option value="11" @pro.CheckSelected(ViewBag.Date, 11)>November</option>
                                                    <option value="12" @pro.CheckSelected(ViewBag.Date, 12)>December</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Product auction manager</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">#</th>
                        <th style="width: 20%">Product Name</th>
                        <th>Image product</th>
                        <th>End date time</th>
                        <th style="width: 8%" class="text-center">Status</th>
                        <th style="width: 20%"></th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;}
                    @foreach (var item in ViewBag.ProductAuction1)
                    {
                        <tr>
                            <td>@{i++;} @i</td>
                            <td>
                                <a>@item.ProName</a>
                                <br>
                                <small>Created: @item.Created</small>
                                <br>
                                <small>Category: @item.Category.CateName</small>
                                <br />
                                <small>
                                    Product code: @item.ID
                                </small>
                            </td>
                            <td>
                                <img alt="Avatar" class="table-avatar" src="@item.Image">
                            </td>
                            <td>
                                @item.EndDateTime
                            </td>
                            @{
                                ProductAuction proAu = new ProductAuction();
                                var status_vl = proAu.ProAuStatus(item.Status);
                                var status_class = proAu.ClassStatus(item.Status);
                            }
                            <td class="project-state">

                                <span class="@status_class">@status_vl</span>
                            </td>
                            <td class="project-actions text-center">
                                <button class="btn btn-primary btn-sm" onclick="DetailPro(@item.ID)" type="button" data-toggle="modal" data-target="#modal-default">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </button>
                               
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">

            @Html.PagedListPager((IPagedList)ViewBag.ProductAuction1, page => Url.Action("GetAction2", new { page ,status= @ViewBag.StatusPresent }))

        </div>
    </div>
    <!-- /.card -->

</section>


<div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-detail" style="width:700px;">
            <div class="modal-header">
                <h4 class="modal-title">Detail Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts {
    <script>
        function DetailPro(id) {
            $.ajax({
                type: 'GET',
                url: '../ProductAuction/Detail/' + id,
                success: function (res) {
                    $("#modal-detail").html(res);
                }
            })
        }
    </script>

}



